---
import Profile from "../components/Profile.astro";
---
<aside class="w-full h-full flex items-center justify-end px-5 py-14">
    <div class="flex flex-col w-[80%] h-full">
        <Profile/>
    </div>
</aside>