---
import "../styles/backgroud.css"
---
<div class="w-dvw h-dvh fixed top-0 left-0 -z-10 overflow-hidden">
    <ul class="w-full h-full circles">
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
        <li class="bg-indigo-300"></li>
    </ul>
</div>
