---

import Worker from "../assets/icons/Worker.astro";---
<header class="bg-secondary w-[60%] h-14 px-5 py-2 rounded-b-2xl flex items-center justify-between text-white italic font-mono">
    <div class="flex items-center gap-1 px-2 py-1 hover:bg-primary rounded-xl cursor-pointer">
        <figure class="w-8 h-8">
            <Worker/>
        </figure>
        Juan Zuniga
    </div>
    <div>
        Lang
    </div>
</header>