---
import Language from "../assets/icons/Language.astro";
import RightSideIcon from "../components/RightSideIcon.astro";
import DayNNite from "../assets/icons/DayNNite.astro";
import Navigation from "../components/Navigation.astro";
interface Props {
    language: "es" | "en";
}
const { language } = Astro.props;
---

<aside
    class="w-[5%] h-dvh fixed top-0 right-0 flex flex-col justify-between items-center py-5"
>
    <a href={language === "en" ? "/es" : "/"}>
        <RightSideIcon id="language">
            <Language />
        </RightSideIcon>
    </a>
    <Navigation />
    <RightSideIcon id="theme">
        <DayNNite />
        <script>
            document.addEventListener("astro:page-load", () => {
                const theme = document.getElementById("theme");
                theme?.addEventListener("click", () => {
                    document.body.classList.toggle("dark");
                    if (document.body.classList.contains("dark")) {
                        localStorage.setItem("theme", "dark");
                    } else {
                        localStorage.setItem("theme", "light");
                    }
                });
            });
        </script>
    </RightSideIcon>
</aside>
