---
import { getEntry } from "astro:content";
import Section from "../../core/components/Section.astro";
import Element from "./Components/Element.astro";
interface Props {
    lang: string;
}
const { lang } = Astro.props;
const courses = [];
for (let i = 1; i <= 1; i++) {
    courses.push(await getEntry("courses", lang.concat(i.toString())));
}
---

<Section id="courses" title="Courses">
    <div class="grid grid-cols-4 w-full">
        {courses.map((item) => <Element lang={lang} item={item} />)}
    </div>
</Section>
