---
import Section from '../../core/components/Section.astro';
interface Props{
  lang: string
}
const {lang} = Astro.props;
import { getEntry } from 'astro:content';
import Element from './components/Element.astro';
const elements = []
for (let i = 1; i <= 4; i++) {
  elements.push(await getEntry("education", lang.concat(i.toString())))
}
---
<Section id='education' title='Education'>
  {elements.map((item) => (
    <Element item={item}/>
  ))}
</Section>