---
import Worker from "../assets/icons/Worker.astro";
import RightSideIcon from "./RightSideIcon.astro";
import TArrow from "../assets/icons/TArrow.astro";
import Education2 from "../assets/icons/Education2.astro";
import Mind from "../assets/icons/Mind.astro";
---

<nav class="flex flex-col gap-y-2">
    <RightSideIcon id="toTop">
        <TArrow />
    </RightSideIcon>
    <RightSideIcon id="ex">
        <Worker />
    </RightSideIcon>
    <RightSideIcon id="ed">
        <Education2 />
    </RightSideIcon>
    <RightSideIcon id="ss">
        <Mind />
    </RightSideIcon>
    <script>
        const sections: { key: string; val: string }[] = [
            { key: "toTop", val: "" },
            { key: "ex", val: "experience" },
            { key: "ed", val: "education" },
            { key: "ss", val: "soft" },
        ];
        document.addEventListener("astro:page-load", () => {
            sections.map((item) => {
                document
                    .getElementById(item.key)
                    ?.addEventListener("click", () => {
                        if (item.val === "") {
                            window.scrollTo({ top: 0, behavior: "smooth" });
                        } else {
                            document
                                .getElementById(item.val)
                                ?.scrollIntoView({ behavior: "smooth" });
                        }
                    });
            });
        });
    </script>
</nav>
