---
import profile from "../assets/images/profile.jpg"
import {Image} from "astro:assets";
---
<figure class="relative w-fit h-fit bg-transparent flex items-center justify-center">
    <div class="absolute w-[160px] h-[160px]">
        <div class="bg-gradient-to-l from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[130px] h-[1px] absolute -left-[40px]"/>
        <div class="bg-gradient-to-r from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[130px] h-[1px] absolute -right-[40px]"/>
        <div class="bg-gradient-to-l from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[130px] h-[1px] absolute bottom-0 -left-[40px]"/>
        <div class="bg-gradient-to-r from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[130px] h-[1px] absolute bottom-0 -right-[40px]"/>
        <div class="bg-gradient-to-t from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[1px] h-[130px] absolute -top-[40px] left-0"/>
        <div class="bg-gradient-to-b from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[1px] h-[130px] absolute -bottom-[40px] left-0"/>
        <div class="bg-gradient-to-t from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[1px] h-[130px] absolute -top-[40px] right-0"/>
        <div class="bg-gradient-to-b from-indigo-600 dark:from-indigo-100 from-0% to-95% to-transparent w-[1px] h-[130px] absolute -bottom-[40px] right-0"/>
    </div>
    <Image src={profile} alt="profile photo" width={400} height={400}
           class="w-[150px] h-[150px] rounded-3xl profile" />
</figure>
<style is:inline>
    .profile{
        box-shadow: 200px -49px 300px 40px rgba(37,99,235,0.65);
        -webkit-box-shadow: 200px -49px 300px 40px rgba(37,99,235,0.65);
        -moz-box-shadow: 200px -49px 300px 40px rgba(37,99,235,0.65);
    }
</style>